doctype html
html
  head
    title
    script(src="ClientGlobalContext.js.aspx" type="text/javascript")
  body
    div(id="d365EmailTemplate")
    script(src="vm_d365EmailTemplate.js" type="text/javascript")
  
